:root {
    --white-color: #ffffff;
    --black-color: #000000;
    --dark-blue-color: #002f6f;
    --dark-blue2-color: #384360;
    --light-blue-color: #2250cb;
    --light-blue2-color: #c8efff;
    --light-blue3-color: #f4f5f7;
    --light-blue4-color: #0d0dcc;

    --dark-red-color: #a70e1a;
    --dark-red2-color: #c12525;
    --light-red-color: #ff0101;
    --light-red2-color: #fe2823;

    --light-orange-color: #fcebc8;
}


*{
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--white-color);
    margin: 0;
}

@font-face {
    font-family: Barlow Condensed;
    src: url(../fonts/Barlow_Condensed/BarlowCondensed-Bold.ttf);
}

html {
    height: 100%;
    font-size: 62.5%;  /* 10px (100% = 16px) */
    line-height: 1.2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.italic {
    font-style: italic;
}

.inherit {
    /* font-family: "inherit", serif; */
    /* -webkit-font-smoothing: antialiased; */
}

.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.bold-500 {
    font-weight: 500;
}

.mar-t-18 {
    margin-top: 18px;
}

.mar-t-30 {
    margin-top: 30px;
}

.square {
    list-style-type: square;
}

.red {
    color: rgb(255, 1, 1);
}

.f-s-45 {
    font-size: 4.2rem !important;
}

.line-h-4 {
    line-height: 5rem !important;
}