.wrapper {
    height: auto;
    max-width: 422px;
    /* background-color: palevioletred; */
    margin: 0 auto;
}

 /* info */
.info {
    width: 100%;
    height: 60px;
    background-color: var(--dark-blue-color);
    /* padding: 0 20px; */
}

.info-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 10px;
}

.info-item__text {
    font-size: 1.1rem;
    text-transform: uppercase;
    text-decoration: none;
    /* font-weight: 500; */
    color: rgb(244, 245, 247);
}

.info-item__text:hover {
    color: var(--dark-red-color);
}

/* banner */
.banner {
    max-width: 100%;
    height: 70px;

}

.banner-item {
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 5px;
    overflow: hidden;
}

.banner-item__logo {
    height: 150%;
    top: -200px;
    background-size: cover;
}

.banner-item__item {
    height: 300%;
    margin-right: 20px;
}

/* navbar */
.navbar {
    width: 100%;
    height: 34px;
    background-color: var(--dark-red-color);
}

.navbar-list {
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-list-item {
    text-transform: uppercase;
}

.navbar-list-item a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
    color: var(--white-color);
}

.navbar-list-item a span {
    padding-right: 5px;
}

/* naviagatio */
.naviagation {
    width: 100%;
    height: 47px;
    background-color: var(--light-blue3-color);
}

.naviagation-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
}

.naviagation-item__box {
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 5px;
}

.naviagation-item__text {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 5px;
}

.naviagation-item__text a {
    text-decoration: none;
}

.naviagation-item__box span {
    height: 100%;
    padding-bottom: 66px;
}

.naviagation-item__point {
    font-size: 2rem;

}

.naviagation-item__text a,
.naviagation-item__point {
    color: var(--light-blue4-color);
}

/* posts */
.posts {
    width: 100%;
    height: auto;
    /* background-color: brown; */
}

.posts-item {
    width: 100%;
    height: 100%;
    padding: 5px 5px 0;
}

.posts-item__title {
    width: 100%;
    margin-bottom: 2px;
}

.posts-item__title p{
    margin: 0;
}

.text__title {
    color: var(--black-color);
    font-size: 1.8rem;

    line-height: 2.2rem;
    text-align: justify;
    display: inline-block;
    word-break: break-word;
}

.posts-item__content {
    width: 100%;
    margin-bottom: 2px;
}

.posts-item__content p{
    margin: 0;
}

.text__content {
    color: var(--black-color);
    font-size: 1.8rem;
    /* font-weight: 500; */
    line-height: 2.4rem;
    text-align: justify;
    display: inline-block;
    word-break: break-word;
    padding-left: 15px;
    padding-right: 15px;
}

.posts-item__img {
    max-width: 100%;
    padding: 10px;
}

.posts-item__img img {
    width: 100%;
    object-fit: cover;
}

.describe {
    width: 100%;
}

.describe-item {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
}

.describe-item p {
    margin: 0;
    font-size: 1.5rem;
}

.ul-content {
    line-height: 2.8rem;
}

.ul-content li {
    font-size: 2rem;
    font-weight: 100;

}

/* introduce */
.introduce {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.introduce-item {
    width: 100%;
    margin: 0;
    background-image: linear-gradient(-90deg, #12468D, #0667AF);
    border-radius: 4px;
    padding: 5px 0 20px;
}

.introduce-item__text {
    /* text-transform: uppercase; */
    line-height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.introduce-item__text p {
    font-size: 2.6rem;
    margin: 0;
}

.introduce-item__text .o-r {
    background: linear-gradient(180deg, rgba(240, 168, 27, 1.0), rgba(211, 19, 8, 1.0));
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.introduce-item__text .text-white {
    color: var(--white-color);
}

.introduce-item__text .text-red {
    color: rgb(237, 20, 47);;
}

.introduce-item__text .text-16 {
    font-size: 1.6rem;
}

.introduce-item__text .text-17 {
    font-size: 1.7rem;
}

.introduce-item__text .text-33 {
    font-size: 3.3rem;
}

.introduce-item__img {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduce-item__line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduce-item__line-center {
    width: 40%;
    border: 0.2px solid #ffffff;
    margin: 10px 0 10px;
}

.introduce-item__img img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.introduce-item__box {
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10px;
}

.introduce-item__box {
    width: calc(100% - 20px);
    height: 100%;
    -webkit-box-shadow: 0px 0px 30px -14px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: justify;
}

.introduce-item__box p {
    margin: 10px 0 0 0;
}

.introduce-item__box .text-17 {
    font-size: 1.7rem;

}

.introduce-item__box .lh-16 {
    line-height: 1.6;
}

.introduce-item__img .img-p-10 {
    margin: 10px 0;
    width: calc(100% - 20px);
}

.introduce-item__text-group {
    width: calc(100% - 20px);
    height: auto;
    margin: 0 auto;
}

.introduce-item__text-group p {
    color: rgb(255, 255, 255);
}

.introduce-item__text-group .text-17 {
    font-size: 1.7rem;
}

.introduce-item__text-group .lh-16 {
    line-height: 1.6;
}

.introduce-item__text-group ul {
    list-style: none;
}

.introduce-item__text-group ul li {
    font-size: 1.7rem;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}

/* video */
.introduce-video {
    width: 100%;
    height: auto;
    margin: 5px 0 0 0;
}

.video-item {
    max-width: 100%;
}

.video-item .video-ytb {
    width: 100%;
}

/* introduce-name */
.introduce-name {
    width: 100%;
    height: auto;
}

.introduce-name__text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.introduce-name__text p {
    color: rgb(255, 1, 1);
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.6;
    margin: 0;
}

/* certification */
.certification {
    width: 100%;
    height: auto;
    margin: 5px 0 20px 0;
}


.certification-item {
    max-width: 100%;
}

.certification-item img {
    width: 100%;
}
 
/* slider */
.slider {
    max-width: 100%;
    position: relative;
}

.slider-wrapper {
   width: 100%;
   height: auto;
   position: relative;
   overflow: hidden;

}

.slider-main {
    display: flex;
    position: relative;
    transition:  transform 0.25s linear;
}

.slider-item {
    max-width: 100%;
    height: 100%;
    flex: 1 0 100%;
    user-select: none;
}

.slider-item__img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-item img {
    width: 90%;
    object-fit: cover;
}

.slider-item__text {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slider-item__text h3 {
    font-family: "Barlow Condensed", sans-serif;
    color: rgb(5, 31, 77);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
    margin: 5px 0;
}

.slider-button {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

}

.slider-next,
.slider-prev {
    transform: translateY(-50%);
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black-color);
    width: 50px;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


/* order */
.order {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 10px;
    background-color: #E3EEF2;
}

.order-item {
    width: 100%;
    /* position: relative; */
}

.order-intro {
    width: 100%;
    height: auto;
    padding: 0 5px 0 40px;
    margin-top: 20px;
}

.order-intro__box {
    width: 100%;
    height: 40px;
    background-color: #12468D;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-intro__text h3 {
    color: var(--white-color);
    font-size: 19px;
    font-weight: bold;

}

.order-paint {
    position: relative;
    width: 100%;
    margin-top: 8px;
}

.order-paint__box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.order-paint__img{
    max-width: 70%;
    position: relative;
    text-align: center;
}

.order-paint__img svg {
    width: 100%;
    /* fill: #0667AF; */
}

.order-paint__img h3 {
    position: absolute;
    top: -10px;
    left: 35px;
    color: var(--white-color);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0px;
    line-height: 1.4;
}